:root{
  --padding-mobile: 20px;
  --padding-tablet: 50px;
  --padding-desktop: 100px;

  --primary-color: white;
  --secondary-color: rgb(41, 105, 86);
  --border-color: #9996;
  --primary-color-text: black;
  --secondary-color-text: #9996;
}


/* Reset */
*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: inherit;
}